<app-header></app-header>

<div class="container">
    <div class="intro-section">
        <h1>Đây là trnag Home</h1>
        <p>Trang này hiển thị danh sách các sản phẩm kèm ảnh</p>
        <p>Các bạn có thể chọn xem sản phẩm và mua hàng tại đây</p>
        <!--Search box và check box-->
        <div class="search-box">
            <input type="text" class="form-control search-input" 
                [(ngModel)]="keyword"
                placeholder="Tìm sản phẩm">
            <select class="form-control product-category"
                [(ngModel)]="selectedCategoryId">
                <option [value]="0">Tất cả</option>
                <option *ngFor="let category of categories" [value]="category.id">
                    {{ category.name }}
                </option>
            </select>
            <button  class="btn btn-primary ml-2" (click)="searchProducts()">Tìm kiếm</button>
        </div>
    </div>
    <!-- tao row roi lai chia thanh cac cot-->
    <div class="row">
        <!-- màn hình to (full) thì chiếm 4/12 tức hiển tị được 3 sp, khi màn trung bình chiếm 1 nửa 6/12 -->
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image" 
                    class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description"> abc asbsdfbjbjsdbfjskdfs.</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price"><del>$200</del>Giá: $100</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image" 
                    class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description"> abc asbsdfbjbjsdbfjskdfs.</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price"><del>$200</del>Giá: $100</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image" 
                    class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description"> abc asbsdfbjbjsdbfjskdfs.</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price"><del>$200</del>Giá: $100</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>  
    </div>
</div>

<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" *ngIf="currentPage > 1">
                <a class="page-link" href="#" (click)="onPageChange(1)">First</a>
            </li>
            <li class="page-item" *ngIf="currentPage > 1">
                <a class="page-link" href="#" (click)="onPageChange(currentPage - 1)">Previous</a>
            </li>
            <ng-container *ngFor="let page of visiblePages">
                <li class="page-item" [ngClass]="{'active': page === currentPage}">
                    <a class="page-link" href="#" (click)="onPageChange(page)">{{page}}</a>
                </li>
            </ng-container>
            <li class="page-item" *ngIf="currentPage < totalPages">
                <a class="page-link" href="#" (click)="onPageChange(currentPage + 1)">Next</a>
            </li>
            <li class="page-item" *ngIf="currentPage < totalPages">
                <a class="page-link" href="#" (click)="onPageChange(totalPages)">Last</a>
            </li>
        </ul>
    </nav>
</div>
<app-footer></app-footer>