<app-header></app-header>

<div class="container">
    <div class="intro-section">
        <h1>Home</h1>
        <p>Abc</p>
        <!--Search box và check box-->
        <div class="search-box">
            <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
            <select class="form-control product-category">
                <option selected disabled>Danh mục sản phẩm</option>
                <option>Đồ điện tử</option>
                <option>Đồ gia dụng</option>
                <option>Đồ ...</option>
            </select>
        </div>
    </div>
    <!-- tao row roi lai chia thanh cac cot-->
    <div class="row">
        <!-- màn hình to (full) thì chiếm 4/12 tức hiển tị được 3 sp, khi màn trung bình chiếm 1 nửa 6/12 -->
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image" 
                    class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description"> abc asbsdfbjbjsdbfjskdfs.</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price"><del>$200</del>Giá: $100</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image" 
                    class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description"> abc asbsdfbjbjsdbfjskdfs.</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price"><del>$200</del>Giá: $100</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img
                    src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image" 
                    class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description"> abc asbsdfbjbjsdbfjskdfs.</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price"><del>$200</del>Giá: $100</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
<app-footer></app-footer>